<div class="bs-docs-sidebar affix">
  <ul class="nav bs-docs-sidenav">
    <li class="active">
      <a href="#endpoints">Endpoints</a>
      <ul class="nav">
        <li>
          <a href="#user_get">User Get</a>
        </li>
        <li>
          <a href="#user_patch">Update Update</a>
        </li>
        <li>
          <a href="#journey_get">Journey Get</a>
        </li>
        <li>
          <a href="#journey_post">Journey Create</a>
        </li>
        <li>
          <a href="#journey_estimate_post">Journey Estimate</a>
        </li>
        <li>
          <a href="#journey_state_post">Journey State</a>
        </li>
        <li>
          <a href="#journeys_active_get">Journey Active</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#authentication">Authentication</a>
      <ul>
        <li>
          <a href="#authentication_api_token">Api token</a>
        </li>
        <li>
          <a href="#authentication_oauth">OAuth</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
