<div class="bs-docs-sidebar affix">
  <ul class="nav bs-docs-sidenav">
    <li class="active">
      <a href="#endpoints">Endpoints</a>
    </li>
    <li>
      <a href="#users">User</a>
      <ul class="nav">
        <li>
          <a href="#user_get">Get</a>
        </li>
        <li>
          <a href="#user_patch">Update</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#journeys">Journey</a>
      <ul class="nav">
        <li>
          <a href="#journey_get">Get</a>
        </li>
        <li>
          <a href="#journey_post">Create</a>
        </li>
        <li>
          <a href="#journey_estimate_post">Estimate</a>
        </li>
        <li>
          <a href="#journey_state_post">State</a>
        </li>
        <li>
          <a href="#journeys_active_get">Active</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
