<div class="bs-docs-sidebar affix">
  <ul class="nav bs-docs-sidenav">
    <li class="active">
      <a href="#endpoints">Endpoints</a>
      <ul class="nav">
        <li>
          <a href="#user_get">User Get</a>
        </li>
        <li>
          <a href="#user_patch">Update Update</a>
        </li>
        <li>
          <a href="#journey_get">Journey Get</a>
        </li>
        <li>
          <a href="#journey_post">Journey Create</a>
        </li>
        <li>
          <a href="#journey_estimate_post">Journey Estimate</a>
        </li>
        <li>
          <a href="#journey_state_get">Journey State</a>
        </li>
        <li>
          <a href="#journeys_active_get">Journey Active</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#api_authentication">Authentication</a>
      <ul class="nav">
        <li>
          <a href="#authentication_api_token">Api token</a>
        </li>
        <li>
          <a href="#authentication_oauth">OAuth</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#api_reference">Api reference</a>
      <ul class="nav">
        <li>
          <a href="#reference_requests">Requests</a>
        </li>
        <li>
          <a href="#reference_responses">Responses</a>
        </li>
        <li>
          <a href="#reference_localization">Localization</a>
        </li>
        <li>
          <a href="#reference_rate_limits">Rate limits</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
