<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if page.title %}
        {{ page.title }}
      {% else %}
        Cabify API
      {% endif %}
    </title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css">

    <script src="{{ site.baseurl }}/js/vendor/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/vendor/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/app.js"></script>

  </head>
  <body>
    <header>
      <nav class='navbar navbar-inverse navbar-static-top'>
        <div class="container-fluid">
          <div class="navbar-header">
            <a class='navbar-brand' href='/'>
              Cabify Developer
              <!-- <img src="{{ site.baseurl }}/images/logo.png" /> -->
            </a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/overview.html">Overview</a></li>
              <li><a href="/authentication.html">Authentication</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/resources/journey.html">Journey</a></li>
                  <li><a href="/resources/journey_estimate.html">Journey Estimate</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class='wrapper'>
      <div class='container'>
        <div class="row">
          <article class="col-sm-9">
            {{ content }}
          </article>
        </div>
      </div>
    </div>
    <footer>

    </footer>
  </body>
</html>
